<h1>My hourly fortune cookie</h1>
<label>Category: {{category}}</label>
<br>
<label>Description: {{text}}</label>
<br>
<img style="height:250px;width:250px" src="{{img}}" alt="cool cookie" />
<div class="vote-div">
    <strong>LIKES: {{likes}}</strong>
    <span>DISLIKES: {{dislikes}}</span>
</div>
